body{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    
}
.header{
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
}
.container{
    width: 100%;
    height: 400px;
    background-color: blanchedalmond;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: burlywood;
}
.p1{
    color: red;
}
.s1{
    color: blue;
}