*{
    margin: 0px;
}
a{
    text-decoration: none;
}
body{
    width:100%;
    height:auto;
    background-image: url(body_bg.jpg);
}
.container{
    width: 85%;
    height: 1072px;
    margin: 0% 7.5%;
    background-color: red;
}
.logo{
    width: 100%;
    height: 92px;
    background-color: cadetblue;
    position: relative;
}
.llogo{
    position:relative;
    float:left;
}
.rlogo{
    position:relative;
    float:right;
}
.menu{
    width: 100%;
    height: 40px;
    position: relative;
}
.menu ul{ list-style-type: none;}
.menu li{display: inline-block; padding: 10px; border-right: 3px solid aqua;}
.info{
    width: 100%;
    height: 60px;
    background-color:azure;
    position: relative;
}
.info p{
    padding: 5px;
}
.sub_container{
    width: 100%;
    height: 275px;
    position: relative;
}
.personal{
    width: 50%;
    height: 275px;
    background-color: antiquewhite;
    position: relative;
    float:left;

}
.personal ul{ list-style-type: none;}
.personal li{display: inline-block; padding: 10px; border-right: 3px solid aqua;}
.corporate{
    width: 50%;
    height: 275px;
    background-color: yellow;
    position: relative;
    float:right;
}
.news{
    width: 100%;
    height: 30px;
    background-color: brown;
    position: relative;
}
.news marquee {padding: 5px;}
.links{
    width: 100%;
    height: 240px;
    background-color:azure;
    position: relative;
}
.adimage{
    width: 100%;
    height: 300px;
    background-color:coral;
    position: relative;
}
.footer{
    width: 100%;
    height: 25px;
    background-color: brown;
    position: relative;
    margin-bottom: 20px;
}